<% content_for(:head) do %>
  
  <%= javascript_include_tag "jquery.imagemapster.min" %>
  <%= javascript_include_tag "jquery.color" %>
  <%= javascript_include_tag "jquery-ui.min" %>
  
  <%= stylesheet_link_tag    "jquery-ui.min" %>
  <%= stylesheet_link_tag    "jquery-ui.structure.min" %>
  <%= stylesheet_link_tag    "jquery-ui.theme.min" %>

  <%= javascript_include_tag "entity.show" %>

<% end %>

<% content_for(:title) do %>
  View Entity - 
<% end %>

<!-- Image -->

<div class="photo-wrapper">
  <div class="photo">
    <%= image_tag @entity.photo.picture.url(:normal),
      :id => "picture",
      :usemap => "#map" %>
    <map name="map" id="map">
      <area
        shape="rect"
        coords="<%= @entity.x1 %>,<%= @entity.y1 %>,<%= @entity.x2 %>,<%= @entity.y2 %>"
        href=""
        title="<%= @entity.full_label %>">
    </map>
  </div>
</div>

<!-- Navigation -->

<ul class="button-group">
  <li>
    <%= link_to 'Back to Photo', @entity.photo, class: "button disabled" %>
  </li>
  <li>
    <%= link_to "Create Story", new_entity_entitystory_path(@entity), class: "button" %>
  </li>
</ul>


<!-- Basic Details -->

<p>
  <strong>Identified by:</strong>
  <%= link_to @entity.user.email, @entity.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @entity.entitytype.name %>
</p>

<!-- Property Values and Forms -->

<hr/>
<h4> Properties </h4>

<ul class="no-bullet remove-padding">
  <% @entity.valid_propertytypes.each do |pt| %>
    <li>
      <div class="two-column">
        <strong> <%= pt.name %>: </strong>
        <%= @entity.best_property_value(pt.id) %>
      </div>
      <div class="two-column">
        <span class="label radius">
          <%= image_tag "chart.png", class: "toggle" %>
        </span>
      </div>
      <!-- <a href="#" class="toggle button tiny">Don't Agree?</a> -->
      <div class="panel hide row">
        <div class="small-5 columns">
          <h4> Poll </h4>
          <% if @entity.has_property_values?(pt.id) %>
            <ul class="no-bullet remove-padding">
              <%= form_for(@vote) do |f| %>      
                <% @entity.get_property_values(pt.id).each do |property| %>
                  <li>
                    <%= f.radio_button :property_id, property.id %>
                    <%= property.value %>
                    (<%= property.votes.count + property.certainty %>)
                    <% if property.user_has_voted_on_it?( current_user.id ) %>
                      <%= image_tag "vote.png" %>
                    <% end %>
                  </li>
                <% end %>
                <div>
                  <%= f.submit "Vote or Change Vote", class: "button tiny success" %>
                </div>
              <% end %>
            </ul>
          <% else %>
            <p>No values available. Be the first to add one!</p>
          <% end %>
        </div>
        <div class="small-6 columns">
          <h4> New <%= pt.name %> </h4>
          <%= form_for(@property) do |f| %>
            <% if @property.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

                <ul>
                <% @property.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="row collapse">
              <div class="small-3 columns">
              <%= f.label :value, class: "left inline" %>
              </div>
              <div class="small-9 columns">
                <% if @entity.entitytype.name == 'Person' && pt.name == 'Name' %>
                  <%= f.text_field :value, class: 'person_name_input' %>
                <% else %>
                  <%= f.text_field :value %>
                <% end %>
              </div>
            </div>
            <div class="row collapse">
              <div class="small-3 columns">
              <%= f.label :certainty, class: "left" %>
              </div>
              <div class="small-9 columns">
                <span>
                  None
                  <%= f.radio_button :certainty, 1 %>
                  <%= f.radio_button :certainty, 2 %>
                  <%= f.radio_button :certainty, 3 %>
                  <%= f.radio_button :certainty, 4 %>
                  <%= f.radio_button :certainty, 5, { :checked => true } %>
                  Absolute
                </span>
              </div>
              <%= f.hidden_field :entity_id, :value => @entity.id %>
              <%= f.hidden_field :propertytype_id, :value => pt.id %>
            </div>

            <div class="actions">
              <%= f.submit "Add Value", class: "button tiny success" %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<!-- Stories -->

<hr/>
<h4> Stories </h4>

<div>
  <% if not( @entity.entitystories.empty? ) %>
    <ul class="no-bullet remove-padding">
      <% @entity.entitystories.each do |es| %>
        <li>
          <ul class="inline-list remove-padding">
            <li> <%= link_to es.title, entitystory_path(es) %> </li>
            <li> by <%= es.user.email %></li>
            <li> <%= es.pretty_date %></li>
            <li> <%= es.entitystorycomments.count %> comments</li>
            <li> <i>"<%= es.summary_text %>"</i></li>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      No stories available. Be the first to add one!
    </p>
  <% end %>
</div>

<!-- People data to retrieve with JS -->

<div class="hide">
  <% @people.each do |p| %>
    <div class="person_data"><%= p.name %></div>
  <% end %>
</div>