<% content_for(:head) do %>
  
  <%= javascript_include_tag "jquery.imagemapster.min" %>

  <%= javascript_include_tag "photostories.show" %>

<% end %>

<% content_for(:title) do %>
  Show Photo Story - 
<% end %>

<!-- Picture -->

<div class="photo-wrapper">
  <div class="photo">
    <%= image_tag @photostory.photo.picture.url(:normal),
      :id => "picture",
      :usemap => "#map" %>
    <map name="map" id="map">
      <% @photostory.photo.entities.each do |e| %>
        <area
          shape="rect"
          coords="<%= e.x1 %>,<%= e.y1 %>,<%= e.x2 %>,<%= e.y2 %>"
          href="<%= url_for(e) %>"
          title="<%= e.full_label %>"/>
      <% end %>
    </map>
  </div>
</div>

<!-- Navigation -->

<ul class="button-group">
  <li>
    <%= link_to 'Back to Photo', @photostory.photo, class: "button disabled" %>
  </li>
  <% if is_user_owner?(@photostory) %>
    <li>
      <%= link_to 'Edit', edit_photostory_path(@photostory), class: "button" %>
    </li>
  <% end %>
</ul>

<!-- Data -->

<h2>
  <%= @photostory.title %>
</h2>

<p>
  Submitted on
  <%= @photostory.pretty_date %>
  by
  <%= link_to @photostory.user.email, @photostory.user %>
</p>

<div class="panel">
  <p>
    <%= @photostory.text %>
  </p>
</div>

<h4>Comments</h4>
<div>
  <div>
    <% @photostory.photostorycomments.each do |c| %>
      <div class="panel">
        <div class="subheader"> <%= c.user.email %> on <%= c.pretty_date %>: </div>
        <div> <%= c.text %> </div>
      </div>
    <% end %>
  </div>
    <h5>Add a comment </h5>
  <div>
    <%= form_for(@photostorycomment) do |f| %>
      <% if @photostorycomment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@photostorycomment.errors.count, "error") %> prohibited this photostorycomment from being saved:</h2>

          <ul>
          <% @photostorycomment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :photostory_id, :value => @photostory.id %>

      <div class="row collapse">
        <div class="small-10 columns">
          <%= f.text_field :text %>
        </div>
        <div class="small-2 columns">
          <%= f.submit "Submit Comment", class: "button postfix" %>
        </div>
      </div>

    <% end %>
  </div>
</div>