<% content_for(:head) do %>
  
  <%= javascript_include_tag "jquery.imagemapster.min" %>

  <%= javascript_include_tag "entitystories.show" %>

<% end %>

<% content_for(:title) do %>
  Show Entity Story - 
<% end %>

<!-- Image -->
<div class="photo-wrapper">
  <div class="photo">
    <%= image_tag @entitystory.entity.photo.picture.url(:normal),
      :id => "picture",
      :usemap => "#map" %>
    <map name="map" id="map">
      <area
        shape="rect"
        coords="<%= @entitystory.entity.x1 %>,<%= @entitystory.entity.y1 %>,<%= @entitystory.entity.x2 %>,<%= @entitystory.entity.y2 %>"
        href=""
        title="<%= @entitystory.entity.full_label %>">
    </map>
  </div>
</div>

<!-- Navigation -->

<ul class="button-group">
  <li>
    <%= link_to 'Back to Entity', @entitystory.entity, class: "button disabled" %>
  </li>
  <% if is_user_owner?(@entitystory) %>
    <li>
      <%= link_to 'Edit', edit_entitystory_path(@entitystory), class: "button" %>
    </li>
  <% end %>
</ul>

<!-- Data -->

<h2>
  <%= @entitystory.title %>
</h2>

<p>
  Submitted on
  <%= @entitystory.pretty_date %>
  by
  <%= link_to @entitystory.user.email, @entitystory.user %>
</p>

<div class="panel">
  <p>
    <%= @entitystory.text %>
  </p>
</div>

<h4>Comments</h4>
<div>
  <div>
    <% @entitystory.entitystorycomments.each do |c| %>
      <div class="panel">
        <div class="subheader"> <%= c.user.email %> on <%= c.pretty_date %>: </div>
        <div> <%= c.text %> </div>
      </div>
    <% end %>
  </div>
    <h5>Add a comment </h5>
  <div>
    <%= form_for(@entitystorycomment) do |f| %>
      <% if @entitystorycomment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@entitystorycomment.errors.count, "error") %> prohibited this entitystorycomment from being saved:</h2>

          <ul>
          <% @entitystorycomment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :entitystory_id, :value => @entitystory.id %>

      <div class="row collapse">
        <div class="small-10 columns">
          <%= f.text_field :text %>
        </div>
        <div class="small-2 columns">
          <%= f.submit "Submit Comment", class: "button postfix" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
