<%= form_for @photo, :html => { :multipart => true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h5>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name", class: "h5" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <% if @photo.picture_file_name.nil? == false %>
    <div class="preview">
      <p>Current Picture:</p>
      <%= image_tag @photo.picture.url(:small) %>
    </div>
  <% end %>

  <ul class="button-group">
    <li>
      <% if action_name == 'new' %>
        <%= link_to 'Back to Profile', current_user, class: "button disabled" %>
      <% else %>
        <%= link_to 'Back to Photo', @photo, class: "button disabled" %>
      <% end %>
    </li>
    <li>
      <%= f.submit class: "button success" %>
    </li>
  </ul>
<% end %>
