<% content_for(:title) do %>
  Import Anotations - 
<% end %>

<h2>
  Import Anotations
</h2>

<!-- Picture -->

<div class="photo-wrapper">
  <div class="photo">
    <%= image_tag @photo.picture.url(:normal) %>
  </div>
</div>

<!-- Navigation -->
<div>
  <p>
    Here you can upload an XML file containing annotations that describe the picture above.
  </p>
  <p>
    The XML file is validated against
    <%= link_to "this XML schema.", "/Schema.xsd" %>
    Any validations errors that might occur will be displayed here.  
  </p>
  <p>
    The schema was last updated on <%= flash[:schema_updated_at] %>.
  </p>
</div>


<% if ! flash[:errors].nil? && ! flash[:errors].empty? %>
  <div id="error_explanation">
    <h5>Error(s) occurred:</h5>
    <ul>
      <% flash[:errors].each do |e| %>
        <li> <%= e %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag({action: :import_post}, multipart: true) do %>
  <div class="">
    <p>
      Please choose a file:
    </p>
    <%= file_field_tag :file %>
  </div>

  <ul class="button-group">
    <li>
      <%= link_to 'Back to Photo', @photo, class: "button disabled" %>
    </li>
    <li>
      <%= submit_tag "Import anotations", class: "button success" %>
    </li>
  </ul>
<% end %>

