<% content_for(:head) do %>
  
  <%= javascript_include_tag "jquery.imagemapster.min" %>

  <%= javascript_include_tag "photo.show" %>

<% end %>

<% content_for(:title) do %>
  View Photo - 
<% end %>

<!-- Picture -->

<div class="photo-wrapper">
  <div class="photo">
    <%= image_tag @photo.picture.url(:normal),
    :id => "picture",
    :usemap => "#map" %>
    <map name="map" id="map">
      <% @photo.entities.each do |e| %>
        <area
          shape="rect"
          coords="<%= e.x1 %>,<%= e.y1 %>,<%= e.x2 %>,<%= e.y2 %>"
          href="<%= url_for(e) %>"
          title="<%= e.full_label %>"/>
      <% end %>
    </map>
  </div>
</div>

<!-- Navigation -->

<ul class="button-group">
  <% if is_user_owner?(@photo) %>
    <li>
      <%= link_to 'Edit', edit_photo_path(@photo), class: "button" %>
    </li>
  <% end %>
  <li>
    <%= link_to "Identify Entity", new_photo_entity_path(@photo), class: "button" %>
  </li>
  <li>
    <%= link_to "Create Story", new_photo_photostory_path(@photo), class: "button" %>
  </li>
  <li>
    <%= link_to 'Save to PDF', "/photos/#{@photo.id}/print.pdf", class: "button" %>
  </li>
  <li>
    <%= link_to 'Import Annotations', import_photo_url(@photo), class: "button" %>
  </li>  
</ul>


<!-- Basic Details -->

<p>
  <strong>by</strong> <%= link_to @photo.user.email, user_path(@photo.user) %>
</p>

<ul class="no-bullet remove-padding">
  <li>
    <strong>Title:</strong>
    <%= @photo.address %>
  </li>
  <li>
    <strong>Photographed on:</strong>
    <%= @photo.pretty_date_taken  %>
  </li>
  <li>
    <strong>Uploaded on:</strong>
    <%= @photo.pretty_date_uploaded  %>
  </li>
</ul>



<!-- Entities -->
<hr></hr>
<h4> Entities: </h4>
<div>
  <% if not( @photo.entities.empty? ) %>
    <ul class="inline-list remove-padding">
      <% @photo.entities.each do |e| %>
        <li>
          <%= link_to e.full_label, entity_path(e) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      No entities available. Be the first to add one!
    </p>
  <% end %>
</div>

<!-- Stories -->

<hr/>
<h4> Stories </h4>

<div>
  <% if not( @photo.photostories.empty? ) %>
    <ul class="no-bullet remove-padding">
      <% @photo.photostories.each do |ps| %>
        <li>
          <ul class="inline-list remove-padding">
            <li> <%= link_to ps.title, photostory_path(ps) %> </li>
            <li> by <%= ps.user.email %></li>
            <li> <%= ps.pretty_date %></li>
            <li> <%= ps.photostorycomments.count %> comments</li>
            <li> <i>"<%= ps.summary_text %>"</i></li>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      No stories available. Be the first to add one!
    </p>
  <% end %>
</div>
